:root {
    --dark-color: #1c1c1c;
    --light-color: #ffdd01;
}

body {
    background: var(--dark-color);
    color: var(--light-color);
    font-family: sans-serif;

    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
    }
}